PyMuPDF
pydantic
tqdm
requests
langchain
langchain-text-splitters
langchain-openai
python-dotenv
tiktoken
reportlab
supabase
fastapi
uvicorn
sse-starlette
sentence-transformers
langchain-huggingface
torch
