PyMuPDF
pydantic
tqdm
requests
langchain
langchain-text-splitters
langchain-openai
python-dotenv
tiktoken
reportlab
pymongo
bcrypt
pyjwt
fastapi
uvicorn
sse-starlette
sentence-transformers
langchain-huggingface
torch
email-validator
cryptography
